.beer-cards-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.beer-card {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  max-width: 400px;
}

.beer-card__attr {
  display: flex;
  gap: 20px;
}

.beer-card__img {
  display: block;
  width: 60px;
  height: fit-content;
  align-self: center;
}

.beer-card__food {
  padding-left: 0;
  margin-left: 0;
  font-weight: 800;
}
